@import './base.css';

#app {
  height: 100vh;
  width: 100%;
  padding: 1rem;

}




html, body {
    display: flex;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-image: url('../../public/logo.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;

}
